*{
  box-sizing:border-box;
}

html,
body,
#app{

  margin:0;
  width:100%;
  height:100%;
  overflow:hidden;

  background:#000;

  font-family:Arial, Helvetica, sans-serif;

}

#app{

  width:100vw;
  height:100vh;

}

#app-container{

  position:relative;

  width:100%;
  height:100%;

  background:#000;

}

#video-player{

  width:100%;
  height:100%;

  object-fit:contain;

  background:black;

}

/* -----------------------
 STRIKE ZONE
------------------------ */

#strike-zone{

  position:absolute;

  left:35%;
  top:30%;

  width:30%;
  height:25%;

  background:rgba(255,0,0,.05);

  border:3px solid rgba(255,0,0,.55);

  touch-action:none;

}

/* Resize Corner */

#resize-handle{

  position:absolute;

  right:4px;
  bottom:4px;

  width:18px;
  height:18px;

  border-right:4px solid rgb(255,0,0);
  border-bottom:4px solid rgb(255,0,0);

  cursor:nwse-resize;

}

/* -----------------------
 CONTROLS
------------------------ */

#controls{

  position:absolute;

  left:50%;
  bottom:20px;

  transform:translateX(-50%);

  display:flex;

  gap:6px;

  flex-wrap:wrap;

  justify-content:center;

  width:95%;

  z-index:100;

}

button{

  border:none;

  padding:8px 10px;

  border-radius:10px;

  font-size:14px;

  cursor:pointer;

  background:rgba(255,255,255,.65);

  color:black;

  transition:.15s;

}
/* -----------------------
 PLAY ICON
------------------------ */

#play-overlay{

  position:absolute;

  left:50%;
  top:50%;

  transform:translate(-50%,-50%);

  font-size:72px;

  color:white;

  opacity:0;

  transition:opacity .15s;

  pointer-events:none;

}

#play-overlay.show{

  opacity:.22;

}

#video-upload{

  display:none;

}


#timeline-container{

  position:absolute;

  left:6%;

  right:6%;

  bottom:75px;

  z-index:100;

}


#timeline {

  width: 100%;

  height: 8px;

  cursor: pointer;

}

#time-display {

  color:rgb(47, 0, 255);

  text-align:center;

  font-size:14px;

  margin-bottom:6px;

  opacity:.8;

}
#frame-display {

  color:rgb(47, 0, 255);

  text-align:center;

  font-size:13px;

  opacity:.7;

  margin-bottom:5px;

}

#video-info {

  color:rgb(47, 0, 255);

  text-align:center;

  font-size:13px;

  opacity:.7;

  margin-bottom:5px;

}

@media (max-width: 700px){

  #controls{

    position:absolute;
  
    left:50%;
  
    bottom:18px;
  
    transform:translateX(-50%);
  
    width:95%;
  
    display:flex;
  
    flex-direction:column;
  
    gap:8px;
  
    z-index:100;
  
  }
  
  .control-row{
  
    display:flex;
  
    justify-content:center;
  
    gap:8px;
  
  }
  
  button{
  
    border:none;
  
    padding:8px 12px;
  
    border-radius:10px;
  
    font-size:14px;
  
    background:rgba(255,255,255,.65);
  
    cursor:pointer;
  
  }

  button{

    padding:6px 8px;

    font-size:12px;

  }

  #timeline-container{

    position:absolute;
  
    left:5%;
  
    right:5%;
  
    bottom:100px;
  
    z-index:100;
  
  }

  #play-overlay{

    font-size:52px;

  }

}